@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px #BCE7FD;
  }
  .font-serif {
    font-family: var(--font-base) !important;
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

h1,
h2,
h3,
h4,
h5,
h6,
.masthead-marquee-item {
  font-family: var(--font-barlow-condensed);
}

.heading-alt {
  font-family: var(--font-base) !important;
}

.mono {
  font-family: var(--font-mono) !important;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: white;
}

.rounded-section {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}



.pb-xs {
  @apply pb-16;
}

.pb-sm {
  @apply pb-24;
}

.pb-md {
  @apply pb-20 md:pb-32;
}

.pt-xs {
  @apply pt-16;
}

.pt-sm {
  @apply pt-24;
}

.pt-md {
  @apply pt-20 md:pt-32;
}

.bg-offWhite {
  @apply !bg-[#F6F6F6];
}


.prose {
  h2 {
    @apply uppercase text-[3rem] font-bold pb-6;
  }

  p, li {
   @apply text-[1.2rem] font-light opacity-80 pb-2;
  }

  ul {
    list-style-type: disc;
    @apply ml-8 mt-4;
  }

  li {
    @apply pl-4;
  }
}